@font-face {
    font-family : "Color Basic";
    src : url("./fonts/color_basic.ttf") format("truetype");
}

@font-face {
    font-family : "SF Pixelate Shaded";
    src : url("./fonts/SFPixelateShaded.ttf" ) format("truetype");
}

@font-face {
    font-family : "SF Pixelate Shaded";
    src : url("./fonts/SFPixelateShaded-Bold.ttf") format("truetype" );
    font-weight : 800;
}

@font-face {
    font-family : "SF Pixelate";
    src : url("./fonts/SFPixelate.ttf" ) format("truetype");
}

@font-face {
    font-family : "SF Pixelate";
    src : url("./fonts/SFPixelate-Bold.ttf") format("truetype" );
    font-weight : 800;
}

:root {
    --font : menlo, monospace;
    --font-color : #201D30;
    --border-color : #201D30;
    --border-color-inactive: #D2D7C5;
    --bck-color : #FFFFFF;
    --selected-border : #444;
    --play-btn-color : rgba( 0, 0, 0, 0.2 );
    --header-font : "SF Pixelate Shaded", var( --font);
    --genre-font : "Color Basic", var( --font);
    --slider : white;
    --classical : #4CAEA8;
    --folk : #8B5458;
    --pop : #F10F00;
    --rock : #22CC55;
    --ambient : #FAAF4C;
    --jazz : #76243A;
    --latino : #F25900;
    --hiphop : #551155;
    --soul : #CE3B7B;
    --talk : #232625;
    --electronic : #D32C31;
}

@media( prefers-color-scheme: dark ){
    :root {
        --font-color : #D2D7C5;
        --border-color : #D2D7C5;
        --border-color-inactive: #422D3F;
        --bck-color : #211B1D;
        --slider : #999;
        --talk : #BADDB3;
    }

    .logo {
        background-image : url( "./imgs/Logo Dark.png" ) !important;
    }
}


html, body { margin : 0; padding : 1em; }

body {
    font-family : var( --font );
    color : var( --font-color );
    background-color : var( --bck-color );
}

a { color : inherit; text-decoration : none; }

h1 {
    font-family : var( --header-font );
    font-size : 3.5em;
    margin : 0;
    -webkit-font-smoothing : none;
}

.logo {
    background-image : url( "./imgs/Logo Light.png" );
    background-repeat : no-repeat;
    background-size : 100% 100%;
    vertical-align : top;
    display : inline-block;
    width : 0.9em;
    height : 0.9em;
    margin-right : 0.1em;
}

#genreMenu > div { -webkit-font-smoothing : subpixel-antialiased; }

#genreMenu > li { 
    display : inline-block;
    border : none;
    padding : 0;
}

#genreMenu > li:last-child:after {
    content : none;
}

#genreMenu > li:after {
    content : "|";
    display : inline-block;
    margin: 0 0.4em;
}

#controls {
    position: relative;
}

#searchBarBtn, #externalStreamBtn {
    display: inline-block;
    vertical-align: top;
    border : 5px solid var( --border-color-inactive );
    height : 2.5em;
    width: 2.5em;
    background: var( --bck-color );
    font-size: 0.9em;
    box-shadow: 0.2em 0.2em 0 var( --selected-border );
    box-sizing: border-box;
    position: relative;
    top: 0.6em;
    left: 0.5em;
}

#searchBarBtn:before, #searchBarBtn:after, #externalStreamBtn:before {
    content: "";
    display: block;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    top: -0.3em;
    left: -0.3em;
    background-color: var( --border-color-inactive );
    box-shadow : inset 4px 7px 0 7px var( --play-btn-color );
}

#searchBarBtn:before {
    clip-path: circle( 20% at 55% 45% );
}

#searchBarBtn:after {
    clip-path: polygon( 50% 40%, 60% 50%, 25% 80%, 15% 70% );
}

#externalStreamBtn:before {
    clip-path: polygon( 45% 45%, 35% 35%, 65% 35%, 65% 65%, 55% 55%, 30% 80%, 20% 70% );
}

#searchBarBtn.activeBtn:before, #searchBarBtn.activeBtn:after {
    background-color: var( --soul );
}

#externalStreamBtn.activeBtn:before {
    background-color: var( --classical );
}

#searchBarBtn.activeBtn { 
    border-color: var( --soul );
    box-shadow: 0.1em 0.1em 0 var( --selected-border );
}
#externalStreamBtn.activeBtn { 
    border-color: var( --classical );
    box-shadow: 0.1em 0.1em 0 var( --selected-border );
}

#searchBarBtn:active, #externalStreamBtn:active, #playBtn:active, #pauseBtn:active {
    box-shadow: 0.1em 0.1em 0 var( --selected-border ); 
}

#searchBarBtn.activeBtn ~ #searchBar { display: inline-block; }
#externalStreamBtn.activeBtn ~ #externalStream { display: inline-block; }

#searchBar, #externalStream {
    display: none;
    border : 5px solid var( --border-color-inactive );
    padding : 0.3em;
    padding-left: 7em;
    height : 3.9em;
    width: 50%;
    background: var( --bck-color );
    font-family: var( --font );
    font-size: 0.9em;
    box-shadow: 0.5em 0.5em 0 var( --selected-border );
    color: var( --font-color );
    box-sizing: border-box;
    vertical-align: top;
    margin-right: 1em;
    margin-left: -6.5em;
    -webkit-appearance: none;
    border-radius: 0;
}

#searchBar { border-color: var( --soul ); }
#externalStream { border-color: var( --classical ); }

#searchBar:focus, #externalStream:focus {
    border-color: var( --border-color );
    outline: none;
    box-shadow: 0.2em 0.2em 0 var( --selected-border );
}

/* Not currently used */
#audioContainer { 
    background-color: var( --border-color-inactive );
    padding-top : 0.3em;
    position: fixed;
    bottom: 0;
    left: 0;
    width : 100%;
    z-index: 10;
}

audio { display: none; }

#playBtn, #pauseBtn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border : 5px solid var( --border-color-inactive );
    height : 3em;
    width: 3em;
    background: var( --bck-color );
    font-size: 0.9em;
    box-shadow: 0.35em 0.35em 0 var( --selected-border );
}

#playBtn:before, #pauseBtn:before, #pauseBtn:after {
    content : "";
    display: block;
    position : absolute;
    width : 1.3em;
    height : 1.3em;
    bottom : 0.5em;
    left : 0.5em;
    background-color : var( --border-color-inactive );
    clip-path : polygon( 0% 0%, 100% 50%, 0% 100% ); 
    box-shadow : inset 2px 0 0 2px var( --play-btn-color );
}

#pauseBtn:before { 
    clip-path : polygon( 10% 0%, 35% 0%, 35% 100%, 10% 100% ); 
}

#pauseBtn:after {
    clip-path : polygon( 60% 0%, 85% 0%, 85% 100%, 60% 100% ); 
}

#playBtn.activeBtn { 
    border-color: var( --rock );
    box-shadow: 0.1em 0.1em 0;
}

#pauseBtn.activeBtn {
    border-color: var( --latino );
    box-shadow: 0.1em 0.1em 0;
}

#playBtn.activeBtn:before {
    background-color: var( --rock );
}

#pauseBtn.activeBtn:before, #pauseBtn.activeBtn:after { 
    background-color: var( --latino );
}

.structuralContainer {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    margin-left: 1em;
    vertical-align: top;
}

.nowPlaying { 
    font-size: 0.5em;
    margin-top: 1em;
}

#nowPlaying {
    font-family: var( --genre-font );
    text-transform: lowercase;
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

#volumeControl {
    display: none;
    -webkit-appearance: none;
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

#volumeControl::-webkit-slider-thumb {
    -webkit-appearance: none;
}

#volumeControl:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

#volumeControl::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

#volumeControl::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: block;
    box-shadow: 0.2em 0.2em 0 var( --selected-border );
    background-color: var( --slider );
    border: 2px solid var( --play-btn-color );
    box-sizing: border-box;
    margin-top: -0.8em;
}

#volumeControl::-moz-range-thumb{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: block;
    box-shadow: 0.2em 0.2em 0 var( --selected-border );
    background-color: var( --slider );
    border: 2px solid var( --play-btn-color );
    box-sizing: border-box;
    margin-top: -0.8em;
}

#volumeControl::-ms-thumb{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: block;
    box-shadow: 0.2em 0.2em 0 var( --selected-border );
    background-color: var( --slider );
    border: 2px solid var( --play-btn-color );
    box-sizing: border-box;
    margin-top: -0.8em;
}

#volumeControl::-webkit-slider-thumb:active { box-shadow: 0.1em 0.1em 0 var( --selected-border ); }
#volumeControl::-moz-range-thumb{ box-shadow: 0.1em 0.1em 0 var( --selected-border ); }
#volumeControl::-ms-thumb{ box-shadow: 0.1em 0.1em 0 var( --selected-border ); }

#volumeControl::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.8em;
    cursor: pointer;
    box-shadow: inset 0.3em 0.3em 0 var( --play-btn-color );
    background: var( --ambient );
    border: 1px solid var( --border-color-inactive );
}

#volumeControl::-moz-range-track {
    width: 100%;
    height: 0.8em;
    cursor: pointer;
    box-shadow: inset 0.3em 0.3em 0 var( --play-btn-color );
    background: var( --ambient );
    border: 1px solid var( --border-color-inactive );
}

ul { 
    padding : 0;
}

#stations > li { 
    box-sizing : border-box;
    display : inline-block;
    vertical-align : top;
    list-style : none;
    padding : 1em;
    width : 10em; 
    height : 10em;
    border-width : 5px;
    border-style : solid;
    margin : 1em 1em 1em 0;
    box-shadow : 0.5em 0.5em 0 var( --selected-border );
    line-height : 1.4em;
    font-size : 0.8em;
    position : relative;
    cursor: pointer;
    text-align: left;
}

#stations > li:active { box-shadow: 0.2em 0.2em 0 var( --selected-border ); }

#stations li:after, #stations li:before {
    content : "";
    display: block;
    position : absolute;
    width : 1.5em;
    height : 1.5em;
    bottom : 0.5em;
    left : 40%;
    background-color : var( --play-btn-color );
    clip-path : polygon( 0% 0%, 100% 50%, 0% 100% ); 
    box-shadow : inset 2px 0 0 2px var( --play-btn-color );
}

.stationErr:after, .stationErr:before {
    clip-path : polygon( 0% 25%, 25% 0%, 50% 38%, 75% 0%, 100% 25%, 75% 50%, 100% 75%, 75% 100%, 50% 62%, 25% 100%, 0% 75%, 25% 50% ) !important;
}

#stations li:before {
    width : 1.6em;
    height : 1.6em;
    box-shadow : inset 10px 0 0 10px;
    background-color : transparent;
}

#stations > li > a { 
    color : var( --font-color );
}

#stations .genre {
    text-transform : lowercase;
}

#stations { text-align: justify; }

.genre { 
    text-transform : uppercase;
    font-family : var( --genre-font );
    -webkit-font-smoothing : antialiased;
}

.hide { display : none !important; }

.filtered > a { text-transform : lowercase; }

.selected {
    box-shadow : inset 2px 2px 0 5px var( --selected-border) !important;
}

.selected > a, .selected > span {
    color : var( --bck-color ) !important;
}

.selected.Classical { background-color : var( --classical ); }
.selected.Folk { background-color : var( --folk ); }
.selected.Rock { background-color : var( --rock ); }
.selected.Talk { background-color : var( --talk ); }
.selected.Soul { background-color : var( --soul ); }
.selected.Pop { background-color : var( --pop ); }
.selected.Electronic { background-color : var( --electronic ); }
.selected.Ambient { background-color : var( --ambient ); }
.selected.Jazz { background-color : var( --jazz ); }
.selected.Latino { background-color : var( --latino ); }
.selected.Hip-Hop { background-color : var( --hiphop ); }

.Classical { color : var( --classical ); }
.Folk { color : var( --folk ); }
.Rock { color : var( --rock ); }
.Talk { color : var( --talk ); }
.Soul { color : var( --soul ); }
.Pop { color : var( --pop ); }
.Electronic { color : var( --electronic ); }
.Ambient { color : var( --ambient ); }
.Jazz { color : var( --jazz ); }
.Latino { color : var( --latino ); }
.Hip-Hop { color : var( --hiphop ); }

@media( hover : hover ) {
    #genreMenu a:hover { text-transform : lowercase; }
    /* volume controls don't work on mobile devices */
    #volumeControl { display: inline-block; }
}

@media( max-width: 40em ) {
    #searchBar, #externalStream { margin: 0; width: 100%; margin-top: -2.5em; }
    #playBtn, #pauseBtn, .structuralContainer { margin-top: 1.5em; }
    .structuralContainer { width: 60%; }
}
